.nav-left-ul ul {
    display: flex;

}

.nav-left-ul ul li {
    margin: 0px 2rem;
}

.Navcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 4rem;
    border-bottom: 1px solid #c7bcbc;

}

.login-btn {
    background: #2bde8c;
    background: linear-gradient(161deg,
            #2bde8c 0.00%,
            #86f244 100.00%);
    border: none;
    height: 2rem;
    width: 5rem;
    border-radius: 3rem
}

.nav-head ul li {
    font-size: 2rem;
    font-weight: bold;

}
